* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
 
  #Navbar {
    display: flex;
    justify-content: space-evenly; 
    padding: 1%;
    box-shadow: 2px 2px 5px 5px rgb(235, 235, 235);
  }
  
  #Navbar > div {
    display: flex;
     list-style: none; 
  }
  #Navbar a {
    text-decoration: none;
    color: black;
    font-size: 30px;
  }

  #student-data{
      display: grid;
      grid-template-columns: repeat(1,1fr);
      gap: 10px;
      margin: auto;
      padding-top: 20px;
      width: 30%;
  }